<link href="<{:C(__CSS__)}>/admin-style.css" rel="stylesheet" type="text/css" />
<div class="wel"><{$AdminName|default=$AdminUser}><php>
$h=date('G');
if ($h<11) echo '早上好';
else if ($h<13) echo '中午好';
else if ($h<17) echo '下午好';
else echo '晚上好';
</php>，欢迎使用 匿名微博管理后台  ！</div>

<form class="table-form" name="form1" method="post" action="<{:U('groupAdd')}>">

<div class="nav-table">
<span class="on" href="table-one">添加组元素</span>
</div>
<div class="nav-bottom"></div>


<div class="input-box">
<ul id="table-one">
  <li>
   <label for="name">元素</label>
   <input type="text" name="name" id="name" />
  </li>
  
</ul>
 
  <div class="table-but"><input type="submit" name="button" id="button" value="提交"></div>
</div>
</form>
