<?php
    if(C('LAYOUT_ON')) {
        echo '{__NOLAYOUT__}';
    }
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>跳转提示</title>
<link href="<{:C(__CSS__)}>/tqd0707.css" rel="stylesheet" type="text/css" />
<style type="text/css">
*{padding: 0; margin: 0; }
body{background:#fff; font-family: '微软雅黑'; color: #333; font-size:16px; }
.system-message{ padding: 24px 48px; text-align:center;}
.system-message .jump{ padding-top: 10px}
.system-message .jump a{ color: #333;}
.system-message .success,.system-message .error{ line-height: 1.8em; font-size: 36px }
.system-message .detail{ font-size: 12px; line-height: 20px; margin-top: 12px; display:none}
</style>

</head>
<body>
<include file="Home@Public/head" />
<div class="system-message" id="message">
<present name="message">
<img src="/Public/Image/success.png" width="72" height="72" alt="√" />
<p class="success"><?php echo($message); ?></p>
<else/>
<img src="/Public/Image/error.png" width="72" height="72" alt="×" />
<p class="error"><?php echo($error); ?></p>
</present>
<p class="detail"></p>
<p class="jump">
页面自动 <a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> 等待时间： <b id="wait"><?php echo($waitSecond); ?></b>
</p>
</div>
<script type="text/javascript">
(function(){
var height  = document.documentElement.clientHeight
var mheight = document.getElementById('message').offsetHeight
var mtop = Math.ceil((height - 2*mheight)/2)
if(mtop > 0){
	document.getElementById('message').style.marginTop = mtop+'px'
}
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
</script>
<!--piture--><!--piture--><!--piture-->

<!--piture--><!--piture--><!--piture-->
<include file="Home@Public/foot" />
</body>
</html>
