<hr>
<footer>
	<p class="pull-left">
		&copy; 2014 - 2015 All Rights Reserved 逗你玩团队 版权所有
	</p>
	<p class="pull-right">
		Powered by: <a href="http://rd.intra.sina.com.cn" target="_blank">Sina R&D</a>
	</p>
</footer>
<!-- external javascript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery UI -->
<script src="<{:C(__JS__)}>/jquery-ui-1.8.21.custom.min.js"></script>
<!-- transition / effect library -->
<script src="<{:C(__JS__)}>/bootstrap-transition.js"></script>
<!-- alert enhancer library -->
<script src="<{:C(__JS__)}>/bootstrap-alert.js"></script>
<!-- modal / dialog library -->
<script src="<{:C(__JS__)}>/bootstrap-modal.js"></script>
<!-- confirm / extends modal -->
<script src="<{:C(__JS__)}>/bootstrap-confirm.js"></script>
<!-- custom dropdown library -->
<script src="<{:C(__JS__)}>/bootstrap-dropdown.js"></script>
<!-- scrolspy library -->
<script src="<{:C(__JS__)}>/bootstrap-scrollspy.js"></script>
<!-- library for creating tabs -->
<script src="<{:C(__JS__)}>/bootstrap-tab.js"></script>
<!-- library for advanced tooltip -->
<script src="<{:C(__JS__)}>/bootstrap-tooltip.js"></script>
<!-- popover effect library -->
<script src="<{:C(__JS__)}>/bootstrap-popover.js"></script>
<!-- button enhancer library -->
<script src="<{:C(__JS__)}>/bootstrap-button.js"></script>
<!-- accordion library (optional, not used in demo) -->
<script src="<{:C(__JS__)}>/bootstrap-collapse.js"></script>
<!-- carousel slideshow library (optional, not used in demo) -->
<script src="<{:C(__JS__)}>/bootstrap-carousel.js"></script>
<!-- autocomplete library -->
<script src="<{:C(__JS__)}>/bootstrap-typeahead.js"></script>
<!-- tour library -->
<script src="<{:C(__JS__)}>/bootstrap-tour.js"></script>
<!-- library for cookie management -->
<script src="<{:C(__JS__)}>/jquery.cookie.js"></script>
<!-- calander plugin -->
<script src='<{:C(__JS__)}>/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='<{:C(__JS__)}>/jquery.dataTables.min.js'></script>

<!-- chart libraries start -->
<script src="<{:C(__JS__)}>/excanvas.js"></script>
<script src="<{:C(__JS__)}>/jquery.flot.min.js"></script>
<script src="<{:C(__JS__)}>/jquery.flot.pie.min.js"></script>
<script src="<{:C(__JS__)}>/jquery.flot.stack.js"></script>
<script src="<{:C(__JS__)}>/jquery.flot.resize.min.js"></script>
<!-- chart libraries end -->

<!-- select or dropdown enhancer -->
<script src="<{:C(__JS__)}>/jquery.chosen.min.js"></script>
<!-- checkbox, radio, and file input styler -->
<script src="<{:C(__JS__)}>/jquery.uniform.min.js"></script>
<!-- plugin for gallery image view -->
<script src="<{:C(__JS__)}>/jquery.colorbox.min.js"></script>
<!-- rich text editor library -->
<script src="<{:C(__JS__)}>/jquery.cleditor.min.js"></script>
<!-- notification plugin -->
<script src="<{:C(__JS__)}>/jquery.noty.js"></script>
<!-- file manager library -->
<script src="<{:C(__JS__)}>/jquery.elfinder.min.js"></script>
<!-- star rating plugin -->
<script src="<{:C(__JS__)}>/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="<{:C(__JS__)}>/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="<{:C(__JS__)}>/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="<{:C(__JS__)}>/jquery.uploadify.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="<{:C(__JS__)}>/jquery.history.js"></script>
<!-- datetimepicker widget -->
<script src="<{:C(__JS__)}>/datetimepicker.min.js"></script>
<!-- application script for Charisma demo -->
<script src="<{:C(__JS__)}>/charisma.js"></script>
<script src="<{:C(__JS__)}>/common.js"></script>
<script type="text/javascript" src="<{:C(__JS__)}>/jquery.ztree.js"></script>
<script type="text/javascript" src="<{:C(__JS__)}>/widget/issue.js"></script>
<script type="text/javascript" src="<{:C(__JS__)}>/widget/sidebar.js"></script>
<!-- <link href="<{:C(__JS__)}>/zTree/zTreeStyle.css" rel="stylesheet"> -->
<!-- {if $pagelet_scripts != ""}
{foreach from=$pagelet_scripts item=pl_js}
<script type="text/javascript" src="{$pl_js}"></script>
{/foreach}
{/if} -->

</body>
</html>