<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=10;IE=9;IE=8;IE=7;" />
<meta charset="utf-8">
<title>逗你玩</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="组间好友匿名发微博及评论">
<meta name="author" content="逗你玩Team">

<!-- The styles -->
<link id="bs-css" href="<{:C(__CSS__)}>/bootstrap-classic.css" rel="stylesheet">
<style type="text/css">
{literal}
@media (min-width: 768px) and (max-width: 979px) {
	body {
		padding-top: 100px;
		padding-bottom: 40px;
	}	
}
@media (min-width: 979px){
	body {
		padding-top: 80px;
		padding-bottom: 40px;
	}
}

.sidebar-nav {
	padding: 9px 0;
}
{/literal}
</style>
<link href="<{:C(__CSS__)}>/widget_all.css" rel="stylesheet">
<link href="<{:C(__CSS__)}>/jquery-ui-1.8.21.custom.css" rel="stylesheet">

<link href='<{:C(__CSS__)}>/fullcalendar.css' rel='stylesheet'>
<link href="<{:C(__CSS__)}>/bootstrap-responsive.css" rel="stylesheet">
<link href="<{:C(__CSS__)}>/charisma-app.css" rel="stylesheet">
<link href="<{:C(__CSS__)}>/jquery-ui-1.8.21.custom.css" rel="stylesheet">
<link href='<{:C(__CSS__)}>/chosen.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/uniform.default.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/colorbox.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/jquery.noty.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/noty_theme_default.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/jquery.iphone.toggle.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/opa-icons.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/datetimepicker.css' rel='stylesheet'>

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
	  <script src="http:/html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
<!-- jQuery -->
<script src="<{:C(__JS__)}>/jquery-1.7.2.min.js?{$app_version}"></script>
</head>
<style type="text/css">
.row{
	margin-left:10px;
	margin-right:10px;
}
body{
	padding-top:0px;
}
</style>
<body>