<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$title}></title>
<link href='__CSS__/tqd0707.css' rel="stylesheet" type="text/css" />
<script src="__JS__/jquery.js" type="text/javascript"></script>
</head>

<body>
<!--top--><!--top--><!--top-->

<div class="tqdtop">
	<div class="tqdtopbox">
		<div class="tqdtopboxdiv">
			<a href="" class="tqdlogo"></a>
			<div class="div">
            	<p><span>你好,<if condition='$username'><{$username}></span><a href="index.php?m=Home&c=Member&a=logout">退出</a><else />游客</span></if>|&nbsp;&nbsp;&nbsp;<a href="">在线咨询</a></p>
                <p>服务热线：<span>4006-9191-01/05</span></p>
			</div>
		</div>
	</div>
</div>