<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title><{$title}></title>
<link href="<{:C(__CSS__)}>/tqd0707.css" rel="stylesheet" type="text/css" />
<link href="<{:C(__CSS__)}>/admin-style.css" rel="stylesheet" type="text/css" />
<link id="bs-css" href="<{:C(__CSS__)}>/bootstrap-classic.css" rel="stylesheet">
<script src="<{:C(__JS__)}>/jquery.js" type="text/javascript"></script>
<script src="<{:C(__JS__)}>/jquery.validate.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="<{:C(__JS__)}>/admin-index.js"></script>
<!-- The styles -->
<style type="text/css">
{literal}
@media (min-width: auto) and (max-width: auto) {
    body {
        padding-top: 100px;
        padding-bottom: 40px;
    }   
}
@media (min-width: auto){
    body {
        padding-top: 80px;
        padding-bottom: 40px;
    }
}

.sidebar-nav {
    padding: 9px 0;
}
{/literal}
</style>
<link href="<{:C(__CSS__)}>/widget_all.css" rel="stylesheet">
<link href="<{:C(__CSS__)}>/jquery-ui-1.8.21.custom.css" rel="stylesheet">

<link href='<{:C(__CSS__)}>/fullcalendar.css' rel='stylesheet'>
<link href="<{:C(__CSS__)}>/bootstrap-responsive.css" rel="stylesheet">
<link href="<{:C(__CSS__)}>/charisma-app.css" rel="stylesheet">
<link href="<{:C(__CSS__)}>/jquery-ui-1.8.21.custom.css" rel="stylesheet">
<link href='<{:C(__CSS__)}>/chosen.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/uniform.default.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/colorbox.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/jquery.noty.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/noty_theme_default.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/jquery.iphone.toggle.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/opa-icons.css' rel='stylesheet'>
<link href='<{:C(__CSS__)}>/datetimepicker.css' rel='stylesheet'>

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http:/html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- jQuery -->
<script src="<{:C(__JS__)}>/jquery-1.7.2.min.js?{$app_version}"></script>
</head>
<style type="text/css">
.row{
    margin-left:10px;
    margin-right:1px;
}
.body{
    padding-top:0px;
}
</style>

